h1 {
  margin-left: 45%;
}

h4 {
  margin-left: 40%;
}

.count {
  margin-left: 20px;
}

.card {
  flex: 0 0 220px;
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 450px;
  margin-right: 450px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.card .text {
  margin-top: 20px;
}

.button {
  background: gray;
  border: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 170px;
  color: white;
  padding: 10px;
  width: 200px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.task {
  border-style: solid;
  margin-left: 150px;
  margin-right: 10px;
  width: 240px;
  height: 30px;
}

#icon {
  margin-left: 2px;
}

.label {
  margin-left: 100px;
}

.label2 {
  margin-left: 200px;
}

.content-div {
  display: inline-block;
}

.total-content1 {
  display: inline-block;
  margin-left: 100px;
}

.content-div2,
.content-div1,
.total-content2,
.content-div3,
.total-content3 {
  display: inline-block;
}

.label-priority {
  color: blue;
}
